<form method="post" action="{{ path('app_product_variant_delete', {'id': product_variant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product_variant.id) }}">
    <button class="btn">Delete</button>
</form>
