{% extends 'base.html.twig' %}

{% block title %}Edit Variant{% endblock %}

{% block body %}
    <h1 class="text-4xl font-bold text-left text-gray-800 my-4">Edit ProductVariant</h1>

    {{ include('product_variant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_variant_index') }}">back to list</a>

    {{ include('product_variant/_delete_form.html.twig') }}
{% endblock %}
