{% extends 'base.html.twig' %}

{% block title %}New ProductVariant{% endblock %}

{% block body %}
    <h1>Create new ProductVariant</h1>

    {{ include('product_variant/_form.html.twig') }}

    <a href="{{ path('app_product_variant_index') }}">back to list</a>
{% endblock %}
