<form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="flex flex-no-wrap mt-6 border-2 border-black bg-yellow-500 py-2 px-4">Delete</button>
</form>
