{% extends 'base.html.twig' %}

{% block title %}New Merchant{% endblock %}

{% block body %}
    <h1>Create new Merchant</h1>

    {{ include('merchant/_form.html.twig') }}

    <a href="{{ path('app_merchant_index') }}">back to list</a>
{% endblock %}
